.picture{
    display: inline;
    margin: 3px 3 px 3px 3px;
    left: 25%;
}
h1{
    text-align: center;
    background-color: white;
}

#background{

    border-top: 3px solid #000;
    background: url("img/background.jpg")repeat;
    background-size: 600px;
}
/*#myCanvas {
    height: 100%;
}*/

#sketch {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;
    width: 40%;
    left: 30%;
    margin: auto;
    text-align: center;
    /* This centers our sketch vertically. */
    align-items: center;
}
#defaultCanvas0{
    border-color: #111111;
    border-style: solid;
}



#myBtn {
    border-color: #111111;
    border-style: solid;
    height:40px;
    width:100px;
    margin: -20px -50px;
    position: relative;
    top:50%;
    left:50%;
    background: rgb(255,237,51); /* this is a yellow */
}

.container{
    padding-top: 16px;
}

.inline{
    float: left;
    height:40px;
    width:300px;
    margin: -20px -50px;
    position: relative;
    top:50%;
    left:35%;
    text-align: center;
    background: rgb(255,237,51); /* this is a green */
    margin-top: -10px;
}